<h1>Places</h1>

<div class="my-3">
  <a href="/places/new" class="btn btn-primary">New place</a>
</div>

<div>
  <% for place in @places %>
    <div class="mb-1">
      <a href="/places/<%= place["id"] %>" class="link-primary"><%= place["name"] %></a>
    </div>
  <% end %>
</div>

